
SYSEDIT/fontes/sol-SysEdit/.vs/sol-SysEdit/v16/.suo
*.xml
*.cache
*.txt
*.suo
*.dll
*.pdb
*.cache
*.exe
obj/
bin/
.vs/
packages/
*.user
*.bak
fontes/sol-SysEdit/.vs/so-miludithab/v16/.suo
*.dll
*.pdb
fontes/sol-SysEdit/cl-dal/bin/
*/obj/
